# Runtime caches & logs
public/storage

# Docker stuff
run

# Development & Config
.idea
.env
.env.backup
.php_cs.cache
.phpunit.result.cache
npm-debug.log
yarn-error.log

# Composer assets
vendor

# NPM assets
node_modules
public/css
public/js
public/hot
public/mix-manifest.json
